@model CosmeticsShop.Models.Product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    List<CosmeticsShop.Models.Product> products = ViewBag.ListProduct as List<CosmeticsShop.Models.Product>;

    List<CosmeticsShop.Models.Category> categories = ViewBag.ListCategory as List<CosmeticsShop.Models.Category>;
}
<script>
    $(document).ready(function () {
        $('.item_add').click(function () {
            event.preventDefault();
            var ID = $(this).data("id");
            $.ajax({
                url: '/Cart/AddItem',
                data: {
                    ProductID: ID
                },
                type: 'POST',
                dataType: 'json',
                success: function (response) {
                    if (response.status == true) {
                        $.notify("Thêm vào giỏ hàng thành công!", "success");

                        $.ajax({
                            url: '/Cart/GetTotalCart',
                            type: 'GET',
                            dataType: 'json',
                            success: function (response) {
                                $(".simpleCart_total").html(response.TotalPrice + "₫ (" + response.TotalQuantity + ")")
                            },
                        });
                    } else {
                        $.notify("Số lượng không đủ!", "error");
                    }
                },
            });
        })
    });
</script>


<div class="breadcrumbs" style="height: 130px; display: flex; align-items: center;">
    <div class="container">
        <ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
            <li><a href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Trang chủ</a></li>
            <li class="active">@Model.Name</li>
        </ol>
    </div>
</div>
<div class="single">
    <div class="container">
        <div class="col-md-9">
            <div class="col-md-5 grid">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="@Url.Content("~/Content/images/" + Model.Image1)">
                            <div class="thumb-image"> <img src="@Url.Content("~/Content/images/" + Model.Image1)" data-imagezoom="true" class="img-responsive"> </div>
                        </li>
                        @if (Model.Image2 != null)
                        {
                            <li data-thumb="@Url.Content("~/Content/images/" + Model.Image2)">
                                <div class="thumb-image"> <img src="@Url.Content("~/Content/images/" + Model.Image2)" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        }
                        @if (Model.Image3 != null)
                        {
                            <li data-thumb="@Url.Content("~/Content/images/" + Model.Image3)">
                                <div class="thumb-image"> <img src="@Url.Content("~/Content/images/" + Model.Image3)" data-imagezoom="true" class="img-responsive"> </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="col-md-7 single-top-in">
                <div class="single-para simpleCart_shelfItem">
                    <h2>@Model.Name</h2>
                    <p> @Model.Description</p>
                    <div class="star-on">
                        <ul>
                            @{
                                int fullStars = (int)Math.Floor((double)ViewBag.AvgRating);
                                for (int i = 0; i < fullStars; i++)
                                {
                                    <li><i class="glyphicon glyphicon-star text-warning"></i></li>
                                }
                                for (int i = fullStars; i < 5; i++)
                                {
                                    <li><i class="glyphicon glyphicon-star-empty text-warning"></i></li>
                                }
                            }
                        </ul>
                        <div class="review">
                            <a href="#">@ViewBag.TotalReview đánh giá</a>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                    <label class="add-to item_price">@Model.Price.Value.ToString("#,##")₫</label>
                    <a href="#" class="cart item_add" data-id="@Model.ID">Chọn mua</a>

                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
@if (((List<CosmeticsShop.Models.ProductReview>)ViewBag.Reviews).Count > 0)
{
    <div class="container" style="margin-top: 30px;">
        <h3>Đánh giá sản phẩm</h3>
        <hr />
        @foreach (var review in (List<CosmeticsShop.Models.ProductReview>)ViewBag.Reviews)
        {
            <div class="panel panel-default" style="margin-bottom: 15px;">
                <div class="panel-heading">
                    <strong>@review.User.Name</strong> -
                    @{
                        for (int i = 0; i < review.Rating; i++)
                        {
                            <i class="glyphicon glyphicon-star text-warning"></i>
                        }
                        for (int i = (int)review.Rating; i < 5; i++)
                        {
                            <i class="glyphicon glyphicon-star-empty text-warning"></i>
                        }
                    }
                    <span class="pull-right">@review.CreatedDate.Value.ToString("dd/MM/yyyy")</span>
                </div>
                <div class="panel-body">
                    @Html.Raw(HttpUtility.HtmlEncode(review.Comment))
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="container" style="margin-top: 30px;">
        <h4>Chưa có đánh giá nào cho sản phẩm này.</h4>
    </div>
}